
<form method="post" action="/checkout">
<h2>Checkout</h2>
<div>
    <label for="item">Item:</label>
    <input id="item" type="text" name="item" />
</div>
<div>
    <input id="submit" type="submit" value="Submit"/>
</div>
</form>